* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ffffff, #6284ff, #ff0000);
}

.container {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  padding: 7px;
  cursor: pointer;
}

.tooltip-text {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid transparent;
  border-top-color: black;
}

.container:hover .tooltip-text {
  top: -130%;
  visibility: visible;
  opacity: 1;
}
