body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  font-size: 25px;
  border: 1px transparent;
  padding: 15px 30px;
  background-color: aqua;
  text-decoration: none;
  color: white;
  position: relative;
}

a:before {
  content: "Button";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: crimson;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
}

a:after {
  content: "Button";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: cadetblue;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  transition-delay: 0.2s;
}

a:hover:before,
a:hover:after {
  transform: rotateX(0);
}
