* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  color: white;
  list-style: none;
}

.list-items {
  text-transform: uppercase;
  font-size: 22px;
  padding: 15px 30px;
  position: relative;
}

.list-items:before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 12px;
  height: 12px;
  width: 12px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  opacity: 0;
  transition: 0.5s;
}

.list-items:after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  height: 12px;
  width: 12px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  opacity: 0;
  transition: 0.5s;
}

.list-items:hover:before {
  bottom: -3px;
  left: -3px;
  opacity: 1;
}

.list-items:hover:after {
  top: -3px;
  right: -3px;
  opacity: 1;
}
